
<!DOCTYPE html>
<html>
<head>
  <title>Booking</title>
  {% load static %}
  <link rel="stylesheet" href='{%static "resources/css/bootstrap.min.css"%}'>
  <link rel="stylesheet" href='{%static "resources/css/responsive2.css"%}'/>
  <link rel="stylesheet" href='{%static "resources/css/style.css"%}'/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
</head>
<body>
  
  {% block body %}
  
  <div class="hotel_reserve_box">
    <div class="booking_form fixed_768 fixed_480">
      
      <!--{% if messages %}
    <div class="messages" style="width:%;margin-left:px;">
    {% for message in messages %}
        <center><div {% if message.tags %} class="{{message.tags}}"{% endif %} style="padding;margin-top:4rem;font-size:2rem;color: blue">{{message}}</div></center>
        {% endfor %}
    </div>
  {% endif %} -->
  {% if ambulance_id.reserve == True %}
  <h4>This room has been reserved</h4>
  {% else %}
   {% if messages %}
     <div class="messages" >
       {% for message in messages %}
         <center><div style="color: blue" {% if message.tags %} class="{{message.tags}}"
           {% endif %}>{{message}}</div></center>
       {% endfor %}
       </div>
   {% endif %}
  <form method="POST" class="post-form" action="/emp">
      {% csrf_token %}
    <div class="container">
    <center><h3 style="font-size:30px;font-weight:600;margin-bottom:20px">Enter Details</h3> </center>
  <!--<div class="form-group row">
    <label class="col-sm-2 col-form-label">Customer Id:</label>
    <div class="col-sm-4">
      {{ form.uid }}
    </div>
  </div>-->
  <div class="form-group">
    <label>Ambulance Type</label>
    <select class="form-control book_control"  style="font-size:14px"  {{form.utype}}
        <option value="" selected>Select Ambulance </option>
        <option value="AC"> AC </option>
        <option value="General"> General </option>
        <option value="ICU"> ICU </option>
    
    </select>
  </div> 



  <div class="form-group">
    <label>Customer Name</label>
    
      <input type="text" class="form-control book_control" style="width:" {{ form.uname }}

      
    
  </div>

  <div class="form-group">
         <label>Email</label>
         <input type="text" class="form-control book_control" style="width:"  {{ form.uemail }}
   </div>

  

  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control book_control" style="width:" {{ form.ucontact }}
      

  </div>

<div class="form-group">
    <label>Location:</label>
    <input type="text" class="form-control book_control" style="width:" {{ form.ulocation }}
  </div>

  <div class="form-group">
    <label class="">Destination:</label>
    <input type="text" class="form-control book_control" style="width:" {{ form.udestination }}
  </div>

  <div class="form-group">
    <label class="">Date:</label> 
    <input type="Date" class="form-control book_control" style="width:;font-size:14px" {{ form.udate }}
  </div>

  <div class="form-group">
    <label class="">Time:</label>
    <input type="text" class="form-control book_control" style="width:"{{ form.utime }}
  </div>
  
  <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
      <center><button type="submit" class="btn btn-success" style="font-size:15px">Book</button></center>
    </div>
  </div>
</div>
</form>
</div>
</div>

<!--<div class="hotel_reserve_box">
         <h3> Hotel Reservation Form </h3><br>
         <form method="POST" action="/emp">
          {% csrf_token %}
             <div class="form-group">
                 <label>Ambulance Type</label>
                 <select class="form-control" id="room_type" onchange="finalCost()" name="utype">
                     <option value="0" selected>Select Ambulance </option>
                     <option value="1"> AC </option>
                     <option value="2"> General </option>
                     <option value="3"> ICU </option>
          
                 </select>
                 {{form.utype}}
             </div>
             <div class="form-group">
                 <label>Patient Location</label>
                 <input type="text" name="ulocation" id="first_name" class="form-control">
                 {{form.ulocation}}
             </div>
             <div class="form-group">
                 <label>Destination</label>
                 <input type="text" name="udestination" id="first_name" class="form-control">
                 {{form.udestination}}
             </div>
             <div class="form-group">
                 <label>Phone Number</label>
                 <input type="text" name="ucontact" id="first_name" class="form-control">
                 {{form.ucontact}}
             </div>
             
             <button type="submit" class="btn btn-success">Submit</button>
         </form>
     </div>-->
    {% endif %} 
{% endblock %}
</body>
</html>